# Ignore certain config
Config/*
# Ignore python
Python/Bill Tracking/expense_report.txt
Python/Password Generator/user_config.json
Config/*

# Ignore C#
c_sharp/obj/
c_sharp/random_pw_gen/
Coding.sln

