# Ignore certain config
Config/sql_config.json
Config/users.json
Config/pw_gen_users.json
# Ignore python
Python/Bill Tracking/expense_report.txt
#Python/Config/users.json
#Python/Config/sql_config.json
# Ignore C#
c_sharp/obj/
c_sharp/random_pw_gen/
Coding.sln

